html 
    head    
        title= titulo 
    body 
        .container
            input(type="text" placeholder="Ingresa el Nombre del Contacto" id="nombre") 
            input(type="text" placeholder="Ingresa el Numero del Contacto" id="numero")
            button(id="btn_agregar") Agregar Contacto
    script(src="funciones.js")         